extends ../../template/slide

block title
    | The simplest example of DI usage

block layout
    - var index = '01';
    .xp-column
        .xp-row: xp-editor
            +includeFile(index, 'app.component.ts', true)
            +includeFile('', 'todo.component.ts')
            +includeFile('', 'index.html')
            +includeFile('', 'config.js')
        .xp-row: xp-editor
            +includeFile(index, 'app.ts', true)
    .xp-column
        .xp-row
            +previewTs
