extends ../../template/slide

block title
    | Cleaning form after submit

block layout
    - var index = '03';
    .xp-column: xp-editor
        +includeFile(index, 'app.ts', true)
        +includeFile('', 'Todo.ts')
        +includeFile('', 'index.html')
        +includeFile('', 'config.js')
    .xp-column
        +previewTs
    +invisibleEditor('', [
        'node_modules/angular2/bootstrap.js'
    ])
