extends ../../template/slide

block title
    | Simple, native event

block layout
    - var index = '01';
    .xp-column: xp-editor
        +includeFile(index, 'app.ts', true)
        +includeFile('', 'index.html')
        +includeFile('', 'config.js')
    .xp-column
        .xp-row
            +previewTs
    +invisibleEditor('', [
        'node_modules/angular2/bootstrap.js'
    ])
