extends ../../template/slide

block title
    | Routing with parameters

block layout
    - var index = '02';
    .xp-column
        .xp-row: xp-editor
            +includeFile(index, 'app.ts', true)
            +includeFile(index, 'empty.component.ts')
            +includeFile('', 'index.html')
            +includeFile('', 'config.js')
        .xp-row: xp-editor
            +includeFile(index, 'todo.component.ts', true)
    .xp-column
        .xp-row: +previewFakeTs
        .xp-row: xp-editor
            +includeFile(index, 'app.components.ts', true)
