extends ../../template/slide

block title
    | Nested routing

block layout
    - var index = '02';
    .xp-column: xp-editor
        +includeFile(index, 'app.ts', '12-20,29,37')
        +includeFile('', 'index.html')
        +includeFile('', 'config.js')
    .xp-column
        .xp-row: +previewTs
        .xp-row: xp-editor
            +includeFile(index, 'Todo.ts', '17-22')
    +invisibleEditor('', [
        'node_modules/angular2/bootstrap.js'
    ])
