extends ../../template/slide

block title
    | Classes and modules

block layout
    - var index = '02';
    .xp-column
        .xp-row: xp-editor
            +includeFile(index, 'main.ts', true)
        .xp-row: xp-editor
            +includeFile(index, 'TodoComponent.ts', true)
            +includeFile('', 'index.html')
            +includeFile('', 'config.js')
    .xp-column
        .xp-row
            +previewTs
