extends ../../template/slide

block title
    | Retry

block layout
    - var index = '02';
    .xp-column: xp-editor
        +includeFile(index, 'app.component.ts', true)
        +includeFile(index, 'app.ts')
        +includeFile('', 'todo.component.ts')
        +includeFile('', 'index.html')
        +includeFile('', 'config.js')
        +includeFile('', 'todos.json')
    .xp-column
        +previewFakeTs
