<div>
    <h1>{{ title }}</h1>
    <form>
        <label>Filter: <input #input type="text" (keyup)="onFilterChange(input.value)" /></label>
        <button class="sort"
                [ngClass]="{
                    active: sortingDescriptor.property == 'price',
                    ascending: sortingDescriptor.direction == 1,
                    descending: sortingDescriptor.direction == -1}"
                (click)="onSortChange('price')">Price</button>
        <button class="sort"
                [ngClass]="{
                    active: sortingDescriptor.property == 'name',
                    ascending: sortingDescriptor.direction == 1,
                    descending: sortingDescriptor.direction == -1}"
                (click)="onSortChange('name')">Name</button>
    </form>
    <promoted-product-list [products]="promotedProducts"></promoted-product-list>
    <product-list [products]="products"></product-list>
</div>
