extends ../../template/slide

block title
    | Built-in pipe usage

block layout
    - var index = '01';
    .xp-column: xp-editor
        +includeFile(index, 'app.component.ts', true)
        +includeFile(index, 'app.ts')
        +includeFile('', 'index.html')
        +includeFile('', 'config.js')
    .xp-column
        .xp-row
            +previewTs
