extends ../../template/slide

block title
    | Component spec

block layout
    - var index = '02';
    .xp-column
        .xp-row: xp-editor
            +includeFile(index, 'App.ts')
            +includeFile('', 'index.html')
            +includeFile('', 'config.js')
        .xp-row: xp-editor
            +includeFile(index, 'spec.ts', true)
    .xp-column
        +previewFakeTs
