extends ../../template/slide

block title
    | The simplest Ng2 App

block layout
    - var index = '01';
    .xp-column
        .xp-row: xp-editor
            +includeFile(index, 'app.ts', true)
        .xp-row: xp-editor
            +includeFile('', 'index.html', true)
            +includeFile('', 'config.js')
    .xp-column
        .xp-row
            +previewFakeTs
