extends ../../template/slide

block title
    | Simple argument directive

block layout
    - var index = '01';
    .xp-column
        .xp-row: xp-editor
            +includeFile(index, 'app.component.ts', true)
            +includeFile('', 'index.html')
            +includeFile('', 'config.js')
        .xp-row: xp-editor
            +includeFile(index, 'app.ts', true)
    .xp-column
        +previewFakeTs